<ng-template
  #tmplEntityChart
  let-c="close"
  let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{selectedEntity.name}}</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <h6>Precision</h6>
          <div
            class="small"
            *ngIf="!precisionChartData[0].data.length">
              No data
          </div>
          <canvas
            baseChart
            *ngIf="precisionChartData[0].data.length"
            [datasets]="precisionChartData"
            [labels]="precisionChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
          </canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h6>Recall</h6>
          <div
            class="small"
            *ngIf="!recallChartData[0].data.length">
              No data
          </div>
          <canvas
            baseChart
            *ngIf="recallChartData[0].data.length"
            [datasets]="recallChartData"
            [labels]="recallChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
          </canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h6>Accuracy</h6>
          <div
            class="small"
            *ngIf="!accuracyChartData[0].data.length">
              No data
          </div>
          <canvas
            baseChart
            *ngIf="accuracyChartData[0].data.length"
            [datasets]="accuracyChartData"
            [labels]="accuracyChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
          </canvas>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="d()">
          Close
      </button>
    </div>
</ng-template>
