<div class="container">
  <div class="mb-5">
    <div>
      <h3 class="my-3">Entities</h3>
      <form
        class="form mb-3"
        (ngSubmit)="entitySearch()"
        novalidate>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="search"
            [ngModel]="entityFilter.search"
            (ngModelChange)="entitySubject.next($event)"
            placeholder="Search entity...">
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th width="130px">
              <div
                class="btn btn-sm btn-outline-warning"
                (click)="showEntityEdit(null)">
                  <i
                    class="fa fa-plus"
                    aria-hidden="true">
                  </i>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of entityList">
            <td><a (click)="showChart(entity)">{{entity.name}}</a></td>
            <td>
              <div
                class="btn btn-sm btn-outline-warning"
                (click)="showEntityEdit(entity)">
                  <i
                    class="fa fa-pencil"
                    aria-hidden="true">
                  </i>
              </div>
              <div
                class="btn btn-sm btn-warning"
                (click)="deleteEntity(entity)">
                  <i
                    class="fa fa-trash"
                    aria-hidden="true">
                  </i>
              </div>
              <div
                class="btn btn-sm btn-outline-warning"
                (click)="showTrain(entity)">
                  <i
                    class="fa fa-refresh"
                    aria-hidden="true">
                  </i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-entity-edit></app-entity-edit>
<app-train></app-train>
<app-chart></app-chart>