<ng-template
  #tmplEditEntity
  let-c="close"
  let-d="dismiss">
<div class="modal-header">
  <h4 class="modal-title">{{selectedEntity.id ? 'Update' : 'Create'}} entity</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="d()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div>
    <form
      #fhEntityEdit="appFormHelper"
      [appFormHelper]="entityEditFormErrors"
      (ngSubmit)="fhEntityEdit.checkSubmit() && saveEntity(fhEntityEdit, c)"
      novalidate>

        <div
          class="form-group"
          *ngFor="let e of fhEntityEdit.errorsList._"
          [ngClass]="fhEntityEdit.formGroupClass._">
          <div class="form-control-feedback">{{e}}</div>
        </div>

        <div
          class="form-group"
          [ngClass]="fhEntityEdit.formGroupClass.name">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              required
              maxlength="1024"
              [ngClass]="fhEntityEdit.inputClass.name"
              [(ngModel)]="selectedEntity.name"
              name="name"
              aria-describedby="entity-name-help">
            <small
              id="entity-name-help"
              class="form-text text-muted">
                Enter the name for the entity.
            </small>
            <div
              [hidden]="!fhEntityEdit.errors.name"
              class="form-control-feedback">
                {{fhEntityEdit.errors.name}}
            </div>
        </div>

        <div
          class="form-group"
          [ngClass]="fhEntityEdit.formGroupClass.colour">
            <input
              type="color"
              class="form-control"
              placeholder="Colour"
              required
              maxlength="1024"
              style="height: 50px"
              [ngClass]="fhEntityEdit.inputClass.colour"
              [(ngModel)]="selectedEntity.colour"
              name="colour"
              aria-describedby="entity-colour-help">
            <small
              id="entity-colour-help"
              class="form-text text-muted">
                Enter the colour for the entity.
            </small>
          <div
            [hidden]="!fhEntityEdit.errors.colour"
            class="form-control-feedback">
              {{fhEntityEdit.errors.colour}}
          </div>
        </div>

      <div class="form-check">
        <label class="form-check-label">
          <input
          type="checkbox"
          class="form-check-input"
          name="public"
          [(ngModel)]="selectedEntity.complete">
            Complete
        </label>
      </div>

      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-outline-warning"
          [disabled]="!fhEntityEdit.canSubmit">
            {{selectedEntity.id ? 'Update' : 'Create'}}
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="d()">
            Close
        </button>
      </div>
    </form>
  </div>
</div>
</ng-template>