<form
  name="form"
  (ngSubmit)="f.form.valid && model.file && !loading && onSubmit()"
  #f="ngForm"
  novalidate
  class="mb-3">

  <div class="form-check">
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        name="public"
        [(ngModel)]="model.public">
      Public
    </label>
  </div>

  <div
    class="form-group"
    [ngClass]="{ 'has-danger': !project.valid && !project.pristine }">
    <select
      class="form-control"
      required
      [ngClass]="{ 'form-control-danger': f.submitted && !project.valid }"
      [ngModel]="model.project"
      (ngModelChange)="selectProject($event)"
      name="project"
      #project="ngModel"
      aria-describedby="docProjectHelp">
      <option [ngValue]="null">
        --- Select project ---
      </option>
      <option
        *ngFor="let project of projects"
        [ngValue]="project">
        {{project.title}}
      </option>
    </select>
    <small
      id="docProjectHelp"
      class="form-text text-muted">
        Select the project for the doc.
    </small>
    <div
      [hidden]="project.valid || project.pristine"
      class="form-control-feedback">
      Project is required.
    </div>
  </div>

  <div class="form-group">
    <label class="custom-file form-control">
      <input
        type="file"
        class="custom-file-input"
        [multiple]="multiple"
        (change)="updateFile()"
        name="file"
        aria-describedby="docFileHelp"
        #fileInput>
      <span
        class="custom-file-control custom-file-name"
        [attr.data-content]="filenames || 'Choose file...'">
      </span>
    </label>
    <p class="mt-2">
      <ngb-progressbar
        type="warning"
        [value]="uploadProgress"
        height="10px">
          {{uploadProgress}}%
      </ngb-progressbar>
    </p>
    <small
      id="docFileHelp"
      class="form-text text-muted">
        If you choose to upload one
        or more documents, you don't have to define title - it will be
        automatically generated from the document name. However, you can
        define your own title if you wish.
    </small>
  </div>

  <div class="form-group">
    <label class="form-control-label">Categories</label>
    <h4 class="font-family-base">
      <app-category-selector
        [(categories)]="model.categories"
        [options]="{canEdit: true, pill: true}">
      </app-category-selector>
    </h4>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Entities</label>
    <div class="col-sm-10 badges-normal-size">
      <app-entity-name-selector
        [(selected)]="model.entities"
        [names]="entityNames"
        mode="list"
        [options]="{canEdit: true, pill: true}">
      </app-entity-name-selector>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Analysis types:</label>
    <div class="col-sm-10 badges-normal-size">
      <select
        multiple
        name="analysis_type"
        [(ngModel)]="model.analysis_type"
        [compareWith]="compareFn">
        <option
          *ngFor="let analysisType of analysisTypes"
          [ngValue]="analysisType">
            {{analysisType.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Languages:</label>
    <div class="col-sm-10 badges-normal-size">
      <select
        multiple
        name="language"
        [(ngModel)]="model.language"
        [compareWith]="compareFn">
        <option
          *ngFor="let language of languages"
          [ngValue]="language">
            {{language.name}}
        </option>
      </select>
    </div>
  </div>

  <hr />

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button
        type="button"
        class="btn btn-outline-primary"
        aria-controls="collapseExample"
        (click)="isAdvancedOptVisible = !isAdvancedOptVisible"
        [attr.aria-expanded]="!isAdvancedOptVisible">
          {{isAdvancedOptVisible ? 'Hide Advanced Options' : 'Show Advanced Options'}}
      </button>
    </div>
  </div>

  <div
    id="collapse2"
    [ngbCollapse]="!isAdvancedOptVisible">
    <hr />
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Text Cleaner:</label>
      <div class="col-sm-10 badges-normal-size">
        <select
          name="text_cleaner"
          [(ngModel)]="model.text_cleaner"
          [compareWith]="compareFn">
          <option
            *ngFor="let textCleaner of textCleaners"
            [ngValue]="textCleaner">
              {{textCleaner.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Pdf Cleaner:</label>
      <div class="col-sm-10 badges-normal-size">
        <select
          name="pdf_cleaner"
          [(ngModel)]="model.pdf_cleaner"
          [compareWith]="compareFn">
          <option
            *ngFor="let pdfCleaner of pdfCleaners"
            [ngValue]="pdfCleaner">
              {{pdfCleaner.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input
          type="checkbox"
          class="form-check-input"
          name="convert_immediately"
          [(ngModel)]="model.convert_immediately">
            Convert Immediately
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input
          type="checkbox"
          class="form-check-input"
          name="ml_immediately"
          [(ngModel)]="model.ml_immediately">
            ML Immediately
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input
          type="checkbox"
          class="form-check-input"
          name="html"
          [(ngModel)]="model.html">
            HTML
      </label>
    </div>
  </div>

  <hr />

  <button
    *ngFor="let button of buttons"
    type="submit"
    class="btn btn-primary mr-3"
    (click)="nextRoute = button.nextRoute"
    [disabled]="!(f.form.valid && model.file && !loading)">
      {{button.text}}
  </button>
</form>
<alert></alert>
