<ng-template
  #tmplTrainInitial
  let-c="close"
  let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Train initial</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <form (ngSubmit)="trainInitialSubmit(c)">
          <div class="form-group">
            <select
              [style.height]="projects.length * 21 + 'px'"
              multiple
              class="form-control select-projects"
              name="project"
              [(ngModel)]="selectedProjects">
                <option
                  *ngFor="let project of projects"
                  [ngValue]="project">
                    {{project.title | truncate : 50}}
                </option>
            </select>
            <small
              id="category-name-help"
              class="form-text text-muted">
                Select project(s)
            </small>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-outline-warning"
              [disabled]="!selectedProjects || !selectedProjects.length">
                Submit
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="d()">
                Close
            </button>
          </div>
        </form>
      </div>
    </div>
</ng-template>